name: Build and Test

on:
  - push
  - pull_request

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            os_name: ubuntu
            arch: x86_64
          - os: macos-latest
            os_name: macos
            arch: arm64
          - os: macos-15-intel
            os_name: macos
            arch: x86_64
          - os: windows-latest
            os_name: windows
            arch: x86_64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tree
        uses: actions/checkout@v6

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5

      - run: opam install . --deps-only --with-test

      - run: opam exec -- dune build

      - run: opam exec -- dune runtest
